
<div class="snap-drawer snap-drawer-left">
  <ul>
    <li><input type="search" placeholder="Search" id="search"></li>
    <li class="sep"></li>
    <li>
      <a href="#/dashboard/activity">Dashboard</a>
    </li>
    <li>
      <a href="https://github.com/hull/Github-Mobile" target="_blank">Fork me on Github</a>
    </li>
    <li class="sep"></li>
    <li>
      <a data-hull-action='logout'>Logout</a>
    </li>
  </ul>
  <span class="icon-github gh-logo"></span>
</div>
