<div class="shelf-wrap">
  <ul>
    <li><input type="search" placeholder="Search" id="search"></li>
    <li class="sep"></li>
    <li>
      <a data-transition="fade"></a>
    </li>
    <li class="sep"></li>
    <li>
      <a href="#" data-transition="fade">Account Settings</a>
    </li>
    <li>
      <a href="#" data-transition="fade">App Settings</a>
    </li>
    <li class="sep"></li>
    <li>
      <a href="#" data-transition="fade">Updates <span class="count pull-right">3</span></a>
    </li>
    <li>
      <a href="#" data-transition="fade">GitHub Mobile</a>
    </li>
    <li class="sep"></li>
    <li>
      <a data-hull-action='logout' data-transition="fade">Logout</a>
    </li>
  </ul>
  <span class="icon-github gh-logo"></span>
</div>
