<header class="bar-title">
  <a class="button" data-hull-action="toggleShelf" id="activate-shelf">
    <span class="icon-github-2"></span>
  </a>
  <h1 class="title">dashboard</h1>
  <a class="button" data-hull-action="openNotifications">
    <span class="notification-indicator unread"></span>
  </a>
</header>
<div class="push-hook">
  <nav class="bar-standard">
    {{#if sectionViews}}
    <ul class="segmented-controller">
      {{#sectionViews}}
      <li {{#ifEqual this ../currentView}}class="active"{{/ifEqual}}>
        <a href="#/dashboard/{{this}}" data-transition="fade">{{classify this}}</a>
      </li>
      {{/sectionViews}}
    </ul>
    {{/if}}
  </nav>
  {{#if currentView}}
  <div class="content" data-hull-widget="{{currentView}}" data-hull-login="{{githubAccount.login}}" data-hull-activity='received_events'>
  </div>
  {{/if}}

</div>