<div class="modal" data-event="modal.propagate">
  <div class="inner">
    <header>
      <span>App Cache</span>
      <a href="#" data-event="modal.close" class="close">&times;</a>
    </header>
    <article>Some pages have been cached in this app. Would you like to clear the cache?</article>
    <footer class="clearfix">
      <a href="#" class="button pull-left" data-event="modal.close">Close</a>
      <a href="#" class="button-positive pull-right" data-event="cache.clear">Clear</a>
    </footer>
  </div>
</div>
